//- 7-components/button

.button {
  position: relative;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: transparent;

  //
  // Size
  &--md {
    padding: 1.2rem 2.4rem;
  }
  &--xxs {
    padding: 0.7rem 1.4rem;
  }
  &--xs {
    padding: 0.8rem 1.6rem;
  }
  &--sm {
    padding: 1rem 2rem;
  }
  &--lg {
    padding: 1.4rem 2.8rem;
  }
  &--xl {
    padding: 1.6rem 3.4rem;
  }
  &--xxl {
    padding: 1.8rem 3.8rem;
  }
}